.text-center {
  vertical-align: middle;
}

.table {
  margin-top: 30px;
}

.table-create {
  width: 200px;
}

.db-selection-row {
  display: flex;
  justify-content: space-evenly;
}

.db-selection-input {
  width: 35%;
}
